services:
  eda_server:
    build:
      context: .
      dockerfile: rocky/Dockerfile
      pull: false
    image: eda_docker_rocky
    container_name: eda_docker_rocky_container
    hostname: rocky
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      # shared work directory
      - shared_workspace:/home/aislab/workspace
      # for EDA tools
      - /cad:/cad:ro
      - /sys:/sys:ro # this is important for fixing dc_shell runtime error
      - /etc/hosts:/etc/hosts:ro # this is important for EDA license checking
      # ssh pubkey from ubuntu container
      - shared_ssh_key:/home/aislab/.ssh/shared_ssh_key
      # for GUI applications
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    networks:
      - internal
    expose:
      - 22
  ubuntu_server:
    build:
      context: .
      dockerfile: ubuntu/Dockerfile
      pull: false
    image: eda_docker_ubuntu
    container_name: eda_docker_ubuntu_container
    hostname: ubuntu
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      # shared work directory
      - shared_workspace:/home/aislab/workspace 
      # for GUI applications
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      # shared ssh pubkey
      - shared_ssh_key:/home/aislab/.ssh/shared_ssh_key
    networks:
      - internal
    expose:
      - 22

networks:
  internal:
    driver: bridge
    external: false

volumes:
  shared_workspace: {}
  shared_ssh_key: {}
